* {
    scrollbar-width: auto;
    scrollbar-color: #e0e0f0 #ffffff;
}

*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #e0e0f0;
    border-radius: 15px;
    border: 2px solid #ffffff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
img,
main,
menu,
nav,
section {
    display: block
}

.cf:after,
.clear:after,
.separator:after {
    clear: both
}

.articlebody a,
a,
a:active,
a:focus,
a:hover,
a:visited {
    text-decoration: none
}

.banners img {
    max-width: 100%
}

.drop-menu,
.latestposts,
ol,
ul {
    list-style: none
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0
}

@font-face {
    font-family: 'font_icon';
    font-weight: normal;
    font-display: swap;
    font-style: normal;
    src: url('../fonts/icon-font.woff') format('woff');
}

.icon-font {
    font-family: "font_icon";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
}

.sidebar-push {
    width: 300px;
    height: 250px
}

.infeed-mobile {
    margin-bottom: 40px;
}

.articlebody h2,
.articlebody h3 {
    font-weight: 900
}

b,
strong {
    font-weight: 500
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-backface-visibility: hidden;
    position: relative;
    cursor: default;
    background: #f0f0fb;
    color: #2b2d41;
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
}

body,
html {
    font-variant-numeric: tabular-nums;
    font-kerning: normal;
    scroll-behavior: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
}

.tr-caption-container .tr-caption {
    font-size: 0.9em;
    color: #555555;
    padding-bottom: 20px;
}

table,
td,
th {
    border: 1px solid #fff
}

i,
em {
    font-style: italic
}

*,
::after,
::before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

a,
a:visited {
    color: #356ae6;
    -webkit-transition: opacity .2s ease-in-out 0s;
    -moz-transition: opacity .2s ease-in-out 0s;
    transition: opacity .2s ease-in-out 0s
}

img {
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    opacity: 1;
    transition: opacity .3s
}

.cf:after,
.cf:before,
.clear:after,
.clear:before,
.separator:after,
.separator:before {
    display: table;
    content: " "
}

a img {
    border: none
}

img[data-echo] {
    opacity: 0
}

.separator a {
    cursor: default;
    margin-right: 0 !important
}

.separator a img {
    outline: 0;
    border: 0
}

.separator a img:active,
.separator a img:focus,
.separator a:active,
.separator a:focus {
    outline: 0;
    -moz-outline-style: none
}

.separator {
    margin-left: -25px;
    margin-right: -25px;
    margin-bottom: 20px
}

.video-container {
    margin: 28px 0;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden
}

.video-container embed,
.video-container iframe,
.video-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

::-moz-selection {
    background-color: #ffdb4d
}

::selection {
    background-color: #ffdb4d
}

::-o-selection {
    background-color: #ffdb4d
}

::-ms-selection {
    background-color: #ffdb4d
}

::-webkit-selection {
    background-color: #ffdb4d
}

.articlebody img {
    width: inherit;
    max-width: 100%;
    height: auto;
    content-visibility: auto
}

.articlebody a {
    color: #356ae6;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.articlebody a:link,
.articlebody a:visited {
    outline: 0;
    text-decoration: none;
    color: #356ae6
}

.articlebody a:hover {
    text-decoration: underline
}

.articlebody h2,
.articlebody h3 {
    font-size: 20px;
    line-height: 33px;
}

.articlebody h4 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500
}

.articlebody ol,
.articlebody ul {
    list-style-type: disc;
    margin: 28px 0 28px 50px;
    display: block;
}

.articlebody ol li,
.articlebody ul li {
    margin-bottom: 10px;
}

@-moz-document url-prefix() {
    .articlebody br {
        margin: 8px !important
    }
}

.articlebody br,
.articlebody p {
    content: ' ';
    display: block;
    margin: 28px 0;
}

.articlebody blockquote {
    background-color: #f9f9f9;
    padding: 28px;
}

.articlebody .tr-caption-container,
.tr-caption-container td,
.tr-caption-container th {
    border: none !important;
}

.articlebody table {
    margin: 20px 0;
    font-size: 15px;
    color: #555555;
    border: 1px solid #202124;
    border-collapse: collapse;
    border-width: 0;
    display: block;
    overflow: auto;
}

.articlebody td,
th {
    border: 1px solid #202124;
    padding: 5px;
}

.articlebody blockquote br {
    display: block;
    content: " ";
    margin-top: 6px;
    margin-bottom: 20px
}

.high {
    position: relative
}

.sidebar {
    margin: 28px 0 15px;
    height: 300px;
}

.pop-article {
    margin-bottom: 20px
}

.side-pop-image {
    overflow: hidden;
    float: left;
    width: 72px;
    background: linear-gradient(rgb(242, 242, 242) 66%, rgba(242, 242, 242, 0));
}

.pop-image img {
    width: 72px;
    height: 72px;
    border-radius: 3px
}

.pop-desc {
    padding-left: 16px;
    overflow: hidden;
    line-height: 25px;
    font-weight: 500;
    font-size: 15px;
    margin-top: -3px;
    display: inline-block;
    float: left;
    max-width: 212px;
}

.pop-title {
    color: #444
}

.pop-link {
    text-decoration: none;
    display: block
}

a:hover .pop-title {
    text-decoration: underline;
    color: #395697
}

.posttitle {
    text-align: left;
    font-size: .95em;
    color: #555;
    margin-top: -5px;
    font-weight: 600
}

.latestposts {
    border-bottom: 1px solid #eee;
    float: left;
    padding: 10px 10px 10px 0;
    overflow: hidden;
    text-align: left;
    line-height: .5em;
    color: #626161
}

.blog-pager-newer-link-mobile,
.blog-pager-older-link-mobile {
    -webkit-appearance: none;
    font-size: 1rem;
    text-shadow: none;
    line-height: 1.2;
    padding: 10px 16px;
    color: #fff !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none !important;
    text-align: center;
    background: #3d5a99;
    position: relative;
    outline: 0;
    cursor: pointer
}

.blog-pager-older-link-mobile {
    border: 3px solid #3d5a99;
    border-radius: 3px;
    margin: 20px 0 20px 20px;
    float: right
}

.blog-pager-newer-link-mobile {
    border: 3px solid #3d5a99;
    border-radius: 3px;
    margin: 20px 20px 20px 0;
    float: left
}

.blog-pager-newer-link-mobile:hover,
.blog-pager-older-link-mobile:hover {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    color: #fff
}

.blog-pager-newer-link-mobile i {
    margin-right: 4px
}

.blog-pager-older-link-mobile i {
    margin-left: 4px
}

.avimg {
    width: 100%;
    margin: 0 auto
}

.advertisements-box {
    margin: 15px auto;
}

.advertisements-box img {
    width: 100%;
    height: auto;
    margin: 0 auto
}

.body-post {
    margin-bottom: 40px
}

.story-link,
.story-link:hover {
    text-decoration: none;
    display: block
}

.f-menu-list li a:hover,
.story-link:hover .home-title {
    text-decoration: underline
}

.img-ratio {
    padding-bottom: 52.2875817%;
    position: relative;
    background: linear-gradient(rgb(242, 242, 242) 66%, rgba(242, 242, 242, 0));
}

.home-img {
    width: 100%;
    float: left;
    overflow: hidden
}

.home-img img {
    max-width: 100%;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.home-right {
    float: left;
    padding: 10px 0;
    width: 100%
}

.home-title {
    color: #333;
    font-weight: 900;
    line-height: 37px;
    font-size: 23px;
    margin-bottom: 15px;
}

.home-desc {
    font-size: 15px;
    line-height: 25px;
    color: #444;
    padding: 0;
    border-left: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.item-label {
    color: #555555;
    font-size: 13px;
    margin: 0 0 5px 2px;
}

.item-label span {
    margin-left: 15px
}

.item-label i {
    margin-right: 7px
}

div.resize-and-crop {
    overflow: hidden;
    display: -moz-inline-block;
    display: inline-block;
    position: relative
}

.drop-menu,
div.resize-and-crop img {
    position: absolute
}

.tags,
.tags a {
    text-transform: capitalize;
    font-size: .97em;
    color: #555555;
    text-decoration: none;
}

.header {
    background: #395697;
    height: 60px;
    width: 100%
}

.top-bar {
    background: #2c4886;
    font-size: 14px;
    display: none
}

.top-bar-box {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 25px
}

.top-follow {
    float: right;
    margin-left: 30px;
    color: #dae5ff
}

.top-follow a {
    color: #fff;
    padding: 0 15px;
    display: inline-block
}

.logo-area {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 25px
}

.logo-box {
    float: left;
    width: 65%;
    height: 60px;
    line-height: 60px
}

.logo-box a {
    font-size: 2rem;
    white-space: nowrap;
    color: #fff;
    font-weight: 600;
}

.sub-button {
    font-weight: 500;
    color: #4a380e !important;
    float: right;
    margin: 18.5px 0;
    display: none;
    background: #ffdb4d;
    padding: 0 12px;
    border-radius: 3px;
    height: 40px;
    line-height: 40px;
}

.m-m-icon,
.close-m-i {
    color: #fff
}

.m-menu-more,
.m-search-here {
    float: right;
    line-height: 60px;
    height: 60px;
    font-size: 20px
}

.logo-box img {
    max-width: 425px;
    max-height: 45px;
    width: auto;
    display: inline-block;
    vertical-align: middle
}

.m-menu-box,
.menu-box {
    max-width: 1120px;
    margin: 0 auto
}

.m-menu-more {
    padding: 0 0 0 25px;
    transition: background .1s ease-in-out
}

.m-search-here {
    color: #fff;
    padding: 0 10px 0 0;
    transition: background .1s ease-in-out
}

.m-menu-more,
.m-search-here {
    display: block
}

.menu-box {
    display: none
}

.menu {
    background: #fff;
    height: 46px;
    font-size: 15px;
    color: #555555;
    box-shadow: 0 4px 0 rgba(0, 0, 0, .08);
    border-bottom: 4px solid #ffdb4d
}

.m-menu-ul li,
.menu-ul li {
    float: left;
    letter-spacing: .3px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    transition: border .1s ease-in-out;
    white-space: nowrap;
    line-height: 46px;
    height: 46px
}

.menu-ul {
    float: left;
    max-width: 78%;
    height: 46px;
    overflow: hidden;
}

.m-menu-ul a,
.menu-ul a {
    color: #333;
    display: inline-block;
}

.menu-ul li {
    padding: 0 25px;
    display: inline-block;
    border-color: transparent
}

.menu-ul li:hover {
    border-bottom-color: #3b5998
}

.m-menu-ul {
    float: left;
    width: 100%
}

.m-menu-ul li {
    border-color: transparent;
    width: 33.33%;
    text-align: center;
    border-right: 1px solid #eee
}

.m-menu-ul li i {
    margin-right: 4px
}

.menu-more,
.search-here {
    float: right;
    line-height: 46px;
    height: 46px;
    padding: 0 25px;
    display: inline-block;
    transition: background .1s ease-in-out
}

.menu-more:hover {
    transform: scale(1.1)
}

.menu-more i,
.search-here i {
    margin-left: 10px;
    font-size: 20px;
    color: #555555
}

.search-box {
    background: #fafafa;
    display: none
}

.search-b {
    min-height: 30px;
    max-width: 1126px;
    margin: 0 auto;
    padding: 10px 20px
}

.search-b input {
    width: 100%;
    border: 1px solid #ddd;
    outline: 0;
    background: #fff;
    padding: 10px;
    border-radius: 2px;
    color: #555555
}

::-webkit-input-placeholder {
    color: #555555
}

:-ms-input-placeholder {
    color: #555555
}

::-moz-placeholder {
    color: #555555;
    opacity: 1
}

:-moz-placeholder {
    color: #555555;
    opacity: 1
}

.drop-menu {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    border: 1px solid #eee;
    z-index: 2;
    padding: 0;
    margin-left: -90px;
    background: #fff;
    display: none
}

.drop-menu li {
    display: block;
    min-width: 180px;
    padding: 0 20px;
    border-bottom: 1px solid #eee;
    line-height: 45px
}

.right-box,
.sharebelow-linkedin,
.sharebelow-twitter {
    display: none
}

.adsbygoogle {
    display: block
}

.advertisements {
    min-height: 4px;
}

.advertisements center {
    display: block;
    margin: 20px auto;
    position: relative;
    padding: 0 10px;
}

.home-google {
    margin: 0 auto 35px;
    position: relative;
}

.main-box {
    margin: 0 auto;
    box-shadow: none;
    border-radius: 0;
    max-width: 758px
}

.error_css img,
.main {
    max-width: 100%;
    margin: 0 auto
}

.error_css img {
    padding: 30px
}

.main {
    padding: 25px 0 0;
    background: #fff
}

.main-left-right {
    padding: 0 25px;
}

.left-box {
    width: 100%;
    padding: 0;
    float: none;
    margin: 0 auto
}

.right-box {
    width: 100%;
    padding: 15px 0;
    float: none
}

.story-title-all {
    display: none;
}

.story-title {
    font-weight: 900;
    line-height: 38px;
    font-size: 25px;
    padding: 0 25px;
    letter-spacing: -.3px
}

.static_title a,
.story-title a {
    color: #333
}

.static_title {
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 900;
    line-height: 45px;
    font-size: 35px
}

.postmeta {
    color: #555555;
    font-size: 14px;
    line-height: 40px;
    margin: 0 0 8px 2px;
}

.postmeta i {
    margin-right: 6px
}

span.author,
span.author a,
span.author a:active,
span.author a:focus,
span.author a:hover {
    color: #555555;
    margin-right: 15px;
}

.sharebelow {
    font-size: 15px;
    margin: 25px 0 40px;
    text-align: center;
}

.sharebelow div {
    margin: 0 10px 10px 0;
    float: left
}

.sharebelow div.sharebelow-facebook a {
    background: #3f51b5
}

.sharebelow div.sharebelow-twitter a {
    background: #1da1f2
}

.sharebelow div.sharebelow-linkedin a {
    background: #007bb6
}

.sharebelow div a,
.sharebelow div i {
    display: inline-block;
    line-height: 30px;
    height: 30px
}

.sharebelow-comment {
    margin-right: 0 !important
}

.sharebelow div.sharebelow-comment a {
    background: #47525c;
    width: 100%
}

.sharebelow a:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px)
}

.f-m-b:hover,
.float-share-li:hover,
.social-box i:hover {
    transform: scale(1.1)
}

.sharebelow div i {
    background: rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px 0 0 3px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    font-size: 16px;
    width: 30px;
    vertical-align: text-bottom
}

.sharebelow div a {
    color: #fff;
    padding: 0 8px 0 38px;
    border-radius: 3px;
    position: relative
}

.float-share {
    -webkit-transition: top .8s;
    -moz-transition: top .8s;
    -ms-transition: top .8s;
    -o-transition: top .8s;
    transition: top .8s;
    position: fixed;
    top: 390px;
    left: 10px;
    display: none
}

.float-share-li,
.fs-note {
    text-align: center;
    width: 40px;
    display: block
}

.float-share-li {
    color: #fff !important;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    border-radius: 3px;
    margin-bottom: 10px
}

.fs-fb {
    background: #3b5998
}

.fs-tw {
    background: #04aceb
}

.fs-ln {
    background: #3a9bdc
}

.fs-more {
    background: #f55a4e
}

.fs-com {
    background: #47525c
}

.fs-note {
    font-size: 11px;
    letter-spacing: .7px;
    height: 25px;
    line-height: 25px
}

.share-close-modal {
    font-size: 20px;
    border-radius: 100%
}

.fixed-r {
    -webkit-transition: top .8s;
    -moz-transition: top .8s;
    -ms-transition: top .8s;
    -o-transition: top .8s;
    transition: top .8s;
    top: 70px
}

.mobile-share {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99999;
    visibility: hidden
}

.mobile-s {
    width: auto;
    height: 33px;
    line-height: 34px;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 14px;
    border-radius: 4px;
    padding: 0 10px;
    font-weight: 500;
}

.share-modal {
    display: none;
    padding: 20px;
    left: 0;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: #f7f7f7;
    overflow: auto;
    z-index: 999999
}

.share-m-wrap {
    max-width: 500px;
    margin: 0 auto
}

.share-close-modal {
    text-decoration: none;
    background: #47525c;
    color: #fff;
    padding: 10px 14px;
    margin-bottom: 20px;
    display: inline-block;
    float: right
}

.more-share,
.share-show-modal {
    display: inline-block;
    border-radius: 3px;
    position: relative
}

.share-show-modal {
    color: #fff;
    padding: 0 8px 0 38px;
    line-height: 30px;
    height: 30px;
    background: #e25544
}

.share-model aside {
    max-width: 300px;
    margin: 0 auto
}

.more-share {
    margin-bottom: 10px;
    color: #fff !important;
    padding: 8px 12px 8px 45px;
    line-height: 20px;
    width: 100%;
    text-align: left
}

.m-fm img,
.more-share i {
    border-right: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px 0 0 3px;
    left: 0;
    top: 0;
    font-size: 19px;
    height: 36px;
    line-height: 36px;
    width: 36px;
    vertical-align: text-bottom;
    display: inline-block
}

.footer-boxh4,
.m-fm img,
.more-share i,
.social-box,
.wrap {
    text-align: center
}

.more-share i {
    background: rgba(0, 0, 0, .1);
    position: absolute
}

.m-fb {
    background: #4267b2
}

.m-ln {
    background: #007bb6
}

.m-tw {
    background: #1da1f2
}

.m-rd {
    background: #fe5b1f
}

.m-gp {
    background: #db4437
}

.m-hn {
    background: #fb9500
}

.m-em {
    background: #515151
}

.m-wa {
    background: #00a500
}

.m-tg {
    background: #64a9dc
}

.m-fm {
    background: #027df0
}

.m-fm img {
    background: rgba(0, 0, 0, .1);
    position: absolute
}

.below-post-box,
.deal-box {
    max-width: 758px;
    margin: 0 auto;
    border-radius: 0;
}

.sponsor {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1.5px;
    line-height: 22px;
    padding: 0 2px;
    color: #555555 !important
}

.below-post-box {
    padding: 25px 25px 0
}

.deal-box {
    padding: 25px 25px 25px
}

.below-post,
.deals {
    background: #fff
}

.latest {
    width: 47.5%;
    float: left;
    margin-right: 5%;
    margin-bottom: 15px
}

.latest:hover {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px)
}

.latest div img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 3px
}

.latest-h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    padding: 10px 0 5px;
    color: #333
}

.latest-desc,
.price-tag {
    color: #555555;
    line-height: 21px
}

.latest-desc {
    font-size: 14.4px;
    display: none
}

.latest-title {
    margin: 20px 0;
    border-bottom: 4px solid #333;
    font-size: 23px;
    padding: 0 0 2px;
    font-weight: 900;
    display: inline-block
}

.latest-title a {
    color: #333;
}

.latest:nth-child(2n+0) {
    margin-right: 0
}

.latest-link {
    display: block
}

.pt-new,
.pt-old {
    display: none
}

.latest-link:hover {
    text-decoration: none
}

.price-tag {
    font-size: 14.4px
}

.pt-old {
    margin-right: 5px
}

.pt-new {
    font-weight: 500
}

.content.section .fb-comments {
    display: none !important
}

.comment-box {
    min-height: 1px;
    padding: 25px;
    max-width: 100%;
    margin: 0 auto
}

.email-box,
.footer-box {
    max-width: 1120px;
    margin: 0 auto
}

.email-outer {
    background: #395697;
    border: 10px solid #2c4886
}

.email-box {
    width: 100%;
    max-width: 500px;
    padding: 25px;
    box-shadow: none;
    color: #fff;
    border-radius: 0;
    margin: 0 auto
}

.email-box-h3 {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    line-height: 35px
}

.email-box p {
    color: #fff;
    padding: 15px 0 18px;
    line-height: 24px;
    font-size: .95em
}

.email-box input {
    width: 100%;
    height: auto;
    display: block;
    padding: 10px 70px 10px 20px !important;
    color: #555555;
    font-size: 17px;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 3px;
    border: none
}

.email-box input[type=submit] {
    background-color: #00ace5;
    color: #fff;
    width: max-content;
    cursor: pointer;
    margin-left: 0 !important;
}

.footer-box-h4,
.footer-box-h5 {
    font-weight: 500;
    border-bottom: 3px solid #ffdb4d
}

.e-book {
    display: none
}

footer {
    padding: 30px 0 0;
    background: #fcfcfc
}

.footer-stuff {
    padding: 10px 25px
}

.footer-box-h4 {
    margin: 0 auto 30px;
    max-width: 78px;
    font-size: 16px
}

.social-box {
    width: 20%;
    padding: 10px;
    display: inline-block;
    float: left
}

.social-box i {
    color: #fff;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    width: 40px;
    box-shadow: 0 3px 3px #bbb
}

.s-tw i {
    background-color: #1da1f2
}

.s-fb i {
    background-color: #4267b2
}

.s-in i {
    background-color: #007bb6
}

.s-it i {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1)
}

.s-yt i {
    background-color: #ce332d
}

.s-gp i {
    background-color: #db4437
}

.sb-text {
    padding: 10px 0 0;
    display: none;
    color: #555555;
    font-size: 14.4px
}

.f-menu-box {
    margin: 35px 0 0
}

.f-menu-cl-1,
.f-menu-cl-2,
.f-menu-cl-3,
.f-menu-cl-4 {
    float: left;
    color: #555555;
    margin-bottom: 20px
}

.f-menu-cl-1,
.f-menu-cl-2 {
    width: 50%;
    display: block
}

.f-menu-cl-3 {
    width: 50%;
    display: none
}

.f-menu-cl-4 {
    width: 100%;
    display: block
}

.f-m-b {
    display: block;
    color: #555555 !important
}

.footer-box-h5 {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    display: inline-block
}

.f-menu-list li {
    padding: 1px 0
}

.f-menu-list li a {
    font-size: 14.4px;
    color: #555555
}

.btn-close,
.button a {
    text-decoration: none
}

.f-menu-bt {
    border: 1px solid #bebebe;
    padding: 5px 10px 5px 30px;
    background: #eee;
    border-radius: 3px;
    margin: 20px 0;
    font-size: 15px;
    max-width: 450px
}

.f-menu-bt i {
    margin-right: 10px
}

.footer-note {
    font-size: 12px;
    padding: 15px 0 0;
    color: #555555;
    border-top: 1px solid #ddd
}

.sidebar-ga {
    max-width: 300px;
    height: 600px
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    z-index: 99;
    background: #395697;
    background: -moz-linear-gradient(0deg, rgba(57, 86, 151, 1) 0, rgba(19, 42, 93, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(57, 86, 151, 1) 0, rgba(19, 42, 93, 1) 100%);
    background: linear-gradient(0deg, rgba(57, 86, 151, 1) 0, rgba(19, 42, 93, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#395697", endColorstr="#132a5d", GradientType=1)
}

@keyframes slide-up-fade-in {
    0% {
        opacity: 0;
        transform: translate(0, 40px)
    }

    100% {
        opacity: 1;
        transform: translate(0, 0)
    }
}

@-moz-keyframes slide-up-fade-in {
    0% {
        opacity: 0;
        -moz-transform: translate(0, 40px)
    }

    100% {
        opacity: 1;
        -moz-transform: translate(0, 0)
    }
}

@-webkit-keyframes slide-up-fade-in {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 40px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0)
    }
}

@-o-keyframes slide-up-fade-in {
    0% {
        opacity: 0;
        -o-transform: translate(0, 40px)
    }

    100% {
        opacity: 1;
        -o-transform: translate(0, 0)
    }
}

@-ms-keyframes slide-up-fade-in {
    0% {
        opacity: 0;
        -ms-transform: translate(0, 40px)
    }

    100% {
        opacity: 1;
        -ms-transform: translate(0, 0)
    }
}

.slide-up-fade-in {
    animation: slide-up-fade-in ease .3s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
    -webkit-animation: slide-up-fade-in ease .3s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: slide-up-fade-in ease .3s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode: forwards;
    -o-animation: slide-up-fade-in ease .3s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode: forwards;
    -ms-animation: slide-up-fade-in ease .3s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode: forwards
}

.wrap {
    color: #e9e9e9;
    max-width: 700px;
    margin: 0 auto;
    padding: 5px 25px
}

.button {
    font-size: 20px
}

.btn-open:hover:after {
    color: #34518c
}

.btn-close:hover:after {
    color: #34518c
}

.o-top cf {
    min-height: 50px;
    border-bottom: 1px solid #4868ad
}

.btn-close {
    border-radius: 100%;
    color: #fbc458;
    line-height: 40px;
    font-size: 30px;
    font-weight: 100;
    float: right
}

.o-h5,
.o-menu-h5 {
    font-size: 17px;
    font-weight: 500;
    text-align: left
}

.o-menu-box {
    padding: 10px 0
}

.o-menu-left,
.o-menu-right {
    float: left;
    width: 50%;
    padding: 15px
}

.o-menu-h5 {
    color: #fff;
    margin-bottom: 10px
}

.o-menu li {
    text-align: left;
    margin-bottom: 3px
}

.o-contact a,
.o-menu li a {
    color: #c0d2fe;
    display: block
}

.o-follow a,
.o-sub a {
    float: left;
    display: inline-block;
    color: #fff
}

.o-contact a:hover,
.o-menu li a:hover {
    text-decoration: underline
}

.o-follow {
    padding: 0 10px
}

.o-follow a {
    width: 35px;
    border: 1px solid #fff;
    height: 35px;
    line-height: 35px;
    border-radius: 100%;
    margin-right: 13px;
    margin-bottom: 15px
}

.o-h5 {
    color: #fff;
    margin-bottom: 10px;
    padding: 0 15px
}

.o-contact {
    text-align: left;
    margin: 5px 15px 20px
}

.o-contact-icon {
    border: 1px solid #a5baed;
    border-radius: 100%;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 23px;
    background: #6f86bd;
    color: #fff;
    float: left;
    margin-right: 15px
}

.gap {
    height: 0
}

.o-sub a {
    width: 100%;
    margin-bottom: 15px;
    background: #6f86bd;
    border-radius: 4px;
    margin-right: 2%;
    border: 1px solid #a5baed;
    padding: 3px 10px;
    text-align: left
}

.o-sub {
    margin: 15px
}

@media only screen and (min-width :480px) {
    .sharebelow-comment {
        width: auto
    }

    .sharebelow-linkedin,
    .sharebelow-twitter {
        display: inline-block
    }

    .home-img {
        width: 30%
    }

    .home-right {
        width: 70%;
        padding: 0 0 0 20px
    }

    .f-menu-cl-1,
    .f-menu-cl-2,
    .f-menu-cl-3 {
        width: 33.33%
    }

    .f-menu-cl-3 {
        display: block
    }

    .f-menu-cl-4 {
        width: 100%
    }
}

@media only screen and (min-width:730px) {
    .logo-box img {
        max-height: 70px;
    }

    .menu-box {
        display: block
    }

    .m-menu-box {
        display: none
    }

    .home-img {
        width: 42%
    }

    .home-right {
        width: 58%;
        padding: 0 0 0 20px
    }

    .home-title {
        font-size: 20px;
        line-height: 32px;
        margin-top: -8px;
        margin-bottom: 5px;
    }

    .top-bar {
        display: block
    }

    .menu {
        border-bottom: none
    }

    .header {
        height: auto
    }

    .logo-box {
        height: 72px;
        line-height: 72px;
        width: 50%
    }

    .m-menu-more,
    .m-search-here {
        display: none
    }

    .sb-text,
    .sub-button {
        display: block
    }

    .separator {
        margin-left: 0;
        margin-right: 0
    }

    .story-title {
        line-height: 45px;
        font-size: 30px
    }

    .o-sub a {
        width: 31.33%;
        text-align: center
    }

    .social-box {
        width: 33.33%
    }

    .social-box i {
        font-size: 25px;
        width: 50px;
        height: 50px;
        line-height: 50px
    }

    .f-menu-cl-1,
    .f-menu-cl-2,
    .f-menu-cl-3,
    .f-menu-cl-4 {
        width: 33.33%
    }

    .f-menu-cl-3 {
        display: none
    }
}

@media only screen and (min-width:850px) {

    .latest,
    .latest:nth-child(2n+0) {
        margin-right: 1.5%
    }

    .latest-desc,
    .right-box {
        display: block
    }

    body {
        font-size: 16px;
        line-height: 27px;
    }

    .gap {
        height: 30px
    }

    .below-post-box,
    .deal-box,
    .main-box {
        max-width: 1120px
    }

    .left-box {
        width: calc(100% - 300px);
        padding: 0 3.4% 0 0;
        float: left
    }

    .right-box {
        width: 300px;
        padding: 0;
        float: left
    }

    .advertisements center {
        margin: 20px auto;
        padding: 0 35px;
    }

    .latest {
        width: 23.87%;
        float: left;
        margin-bottom: 30px
    }

    .latest:nth-child(4n+0) {
        margin-right: 0
    }

    .latest-h3 {
        font-size: 16px;
        line-height: 23px;
        min-height: 50px;
    }

    .mobile-share {
        display: none;
        visibility: hidden
    }

    .social-box {
        width: 20%
    }

    .f-menu-cl-1,
    .f-menu-cl-2,
    .f-menu-cl-4 {
        width: 25%
    }

    .f-menu-cl-3 {
        width: 25%;
        display: block
    }

    .pt-old {
        display: block
    }
}

@media only screen and (min-width :1200px) {

    .float-share,
    .right-box {
        display: block
    }

    .main-left-right {
        padding: 0 29px 19px
    }

    .top-bar-box {
        padding: 0 29px
    }

    .main {
        padding: 45px 0 0
    }

    .left-box {
        width: 762px;
        padding: 0 32px 0 0;
        float: left
    }

    .right-box {
        width: 300px;
        float: right;
        padding: 0
    }

    .story-title {
        line-height: 48px;
        font-size: 33px;
        padding: 0 29px;
    }

    .below-post-box {
        padding: 30px 29px 0
    }

    .deal-box {
        padding: 30px 29px
    }

    .comment-box {
        padding: 20px 29px 29px
    }

    .f-menu-cl {
        width: 25%
    }

    .footer-stuff {
        padding: 19px 29px 15px
    }

    .logo-area,
    .menu-more,
    .menu-ul li,
    .search-here {
        padding: 0 29px
    }

}

@media print {
    @page {
        margin: 2cm
    }

    .below-post,
    .comments,
    .deals,
    .email-outer,
    .float-share,
    .footer,
    .advertisements,
    .header,
    .menu,
    .mobile-share,
    .overlay,
    .right-box,
    .search-box,
    .sharebelow,
    .tags {
        display: none !important
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        page-break-after: avoid
    }

    img,
    ul {
        page-break-inside: avoid
    }

    .articlebody a:link:after {
        content: " (" attr(href)") ";
        color: #555555;
        font-size: 90%
    }
}

.is-visible {
    display: block;
}

sup {
    position: relative;
    bottom: 1ex;
    font-size: 80%;
    margin: 0 auto
}

.sub-style i {
    margin-right: 5px
}

.header_unit {
    width: 300px;
    height: 250px;
    margin: 0 auto
}

.article_unit,
.article_unit728,
.article_unit300 {
    width: 300px;
    height: 250px;
    margin: 0 auto
}

.ad_two,
.ad_three {
    padding: 15px 0;
    margin: 0 -25px;
}

.side-bar-in {
    width: 300px;
    height: 250px;
    margin: 0 auto
}

@media only screen and (min-width:340px) {
    .header_unit {
        width: 336px;
        height: 280px;
        margin: 0 auto
    }

    .article_unit,
    .article_unit728,
    .article_unit300 {
        width: 336px;
        height: 280px;
        margin: 0 auto
    }
}

@media only screen and (min-width:740px) {
    .header_unit {
        width: 728px;
        height: 90px;
        margin: 0 auto
    }

    .article_unit {
        width: 336px;
        height: 280px;
        margin: 0 auto
    }

    .article_unit728 {
        width: 728px;
        height: 90px;
        margin: 0 auto
    }

    .article_unit300 {
        width: 300px;
        height: 250px;
        margin: 0 auto
    }

    .ad_two,
    .ad_three {
        padding: 15px 0;
        margin: 0;
    }
}

@media only screen and (min-width:1024px) {
    .header_unit {
        width: 970px;
        height: 250px;
        margin: 0 auto
    }

    .article_unit {
        width: 336px;
        height: 280px;
        margin: 0 auto
    }
}

.ad-300 img,
.ad-700 img {
    margin: 0 auto;
    display: block;
}

.below-side {
    width: 300px;
    height: 250px;
    display: block;
}

.av-pixel {
    visibility: hidden
}

video {
    width: 100%;
}

pre code {
    display: block;
    background: none;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    background: #212121;
    color: #fff;
    padding: 15px;
    font-family: Courier;
}

.superscript {
    font-size: .83em;
    line-height: 0.5em;
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

img.lazyload {
    opacity: 0.1;
    will-change: opacity;
    transition: all 0.3s
}

img.lazyloaded {
    opacity: 1
}

.articlebody table {
    display: table;
}